/* @group html5doctor.com reset stylesheet v1.6.1 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	font-family: 'Kanit', sans-serif;
	font-family: 'Athiti', sans-serif;
	font-size: 17px;
	line-height: 19px;
	letter-spacing: 2px;
	word-spacing: 1px;
	color: #000000;
	background: #fff;
	margin:10px 5px;
	
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
/*ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}*/
del {
	text-decoration: line-through; }
abbr[title], dfn[title] {
	border-bottom: 1px dotted; }
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0; padding: 0;
	color: white;}

input, select {
	vertical-align: middle;}
/* @end */

/* @group divs */
body {
	overflow-x:hidden;
}


@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}


.container-chaos {
	list-style: none;
	width: 100%;
	height: 11500px;
	overflow: hidden;
	position: relative;


}
.container-chaos 
li {
	position: absolute !important;
	z-index: 1;
}
.container-chaos
li a {
	display: block;
	padding: 0;
	border: 0;
}
.container-chaos 
li img {margin: 0;
	padding: 0;
	outline: 0;
}
.container-chaos.huge {
	display: none;
	position: absolute !important;
	top: 0;
	left: 0;
}

#content, #imprint {
	position: absolute;
	z-index: 40000;
}

#content {
	top: 25px;
	left: 30px;
	letter-spacing: 2px;
	line-height: 27px;
	max-width: 30%;
	min-width: 10%;
}


#table-of-content {
	top: 20px;
	left: 90px;
	letter-spacing: 2px;
	line-height: 27px;
	font-size: 20px;


}

#info {
	top: 25px;
	right: 30px;
	text-align: right;
	color: #000;
	position: fixed;
	font-size: 40px;
	font-family: 'Athiti Bold', sans-serif;
	line-height: 40px;


}
#navi {
	bottom: 20px;
	left: 40px;
	list-style: none;
	position: fixed;
	font-family: 'Athiti Bold', sans-serif;
	line-height: 25px;
	font-size: 18px;
}

#navi2 {
	bottom: 20px;
	right: 40px;
	list-style: none;
	position: fixed;
	font-family: 'Athiti Bold', sans-serif;
	line-height: 25px;
	font-size: 18px;
}

#imprint {
	bottom: 20px;
	right: 40px;
	list-style: none;
}

#navi li,
#imprint
li {
	margin-bottom: 3px;
	padding-bottom: 1px;
}
#navi.active a,
#imprint.active a {
	border-bottom: 1px solid #000;
	padding: 0;
}


.error {
	color: red;
}
.infinite_navigation {
	display: none;
}
/* @end */


/* @group typo */
h1, h2 {
	font-size: 26px;
	font-style: normal;
	font-weight: 500;
}
/* @end */


/* @group navigation, links */
a:link, 
a:visited,
a:hover {
	color: #000;
	text-decoration: none;
}
a:hover {
	border-bottom: 1px solid #000;
	padding: 0;
}
/* @end 

p:hover {
	background-color: #ffccff;
}*/


/* @group html5 magic */
::-moz-selection {
	background:#000;
	color:#fff;
	text-shadow:none;}
::selection {
	background:#000;
	color:#fff;
	text-shadow:none;
}

#table-of-content {
  position: center;
   /* this makes the text able to be placed over the image without getting pushed over */
  width: 100%; /*set to 100% so text-align will fall in the center of the image*/
  text-align: center;
  padding-top: 18%;
  font-family: "Quarto Light Italic";
  color: white;
  list-style-position: inside;
}

.poem{
  padding: 10px 0px;
  font-size: 15px;
  color: #000;
}

.chapter{
  display: none;
  font-size:20px;
  line-height:30px;
  max-width: 650px;
  margin-left: 5px;
  margin-top: 27px;
  margin-bottom: 20px;
  text-indent: 3em;
  text-rendering: optimizeLegibility;
}

.quotes {
  position: absolute;  /* this makes the text able to be placed over the image without getting pushed over */
  width: 100%; /*set to 100% so text-align will fall in the center of the image*/
  text-align: center;
  padding-top: 20%;
  font-family: "Quarto Light Italic";
  color: black;
  list-style-position: inside;
}

.mapping1 {
padding-top: 15px;
padding-left: 50px;
position: absolute;
width: 20%;
font-family:'Kanit';
font-size: 10px;
z-index: 10;
}

.abstract {
padding-top: 104px;
margin-left: 10%;
padding-right: 20px;
position: absolute;
width: 80%;
float: left;
font-family:'Athiti';
font-size: 80px;
line-height: 95px;
color:white;
}

.intro {
padding-top: 15000px;
padding-left: 400px;
padding-right: 20px;
position: absolute;
width: 700px;
float: left;
font-family:'Athiti';
font-size: 60px;
line-height: 55px;
color:black;
}

.thesis1 {
padding-top: 13800px;
padding-left: 400px;
padding-right: 20px;
position: absolute;
width: 700px;
float: left;
font-family:'Athiti';
font-size: 60px;
line-height: 55px;
color:black;
}

.thesis4 .text p {

	padding-bottom: 5%;

}


.animate-flicker {
   -webkit-animation: flickerAnimation 20s infinite;
   -moz-animation: flickerAnimation 20s infinite;
   -o-animation: flickerAnimation 20s infinite;
    animation: flickerAnimation 20s infinite;
}


.thesis2 {
position: relative;
padding-top: 60px;
padding-left: 400px;
padding-right: 20px;
position: absolute;
width: 700px;
/*max-width: 70%;*/
float: left;
font-family:'Athiti';
font-size: 60px;
line-height: 55px;
color:black;
}

.thesis3 {
position: relative;
padding-top: 16200px;
padding-left: 400px;
padding-right: 20px;
position: absolute;
width: 700px;
max-width: 70%;
float: left;
font-family:'Athiti';
font-size: 20px;
line-height: 25px;
color:black;
}

.thesis4 {
position: absolute;
position: relative;
padding-top: 220px;
padding-left: 400px;
padding-right: 20px;
position: absolute;
width: 700px;
max-width: 70%;
float: left;
font-family:'Athiti';
font-size: 60px;
line-height: 55px;
z-index: -2;
}

#human {
position: center;
padding-right: 20px;
max-width: 100%;
float: left;
font-family:'Athiti';
font-size: 80px;
line-height: 75px;
color:black;
font-style:italic;
}

.thesis5 {
position: relative;
padding-top: 22000px;
padding-left: 370px;
padding-right: 20px;
position: absolute;
max-width: 50%;
float: left;
font-family:'Athiti';
font-size: 60px;
line-height: 55px;
color:black;
}

.conclusion {
position: relative;
padding-top: 13360px;
padding-left: 370px;
padding-right: 20px;
position: absolute;
max-width: 50%;
float: left;
font-family:'Athiti';
font-size: 60px;
line-height: 55px;
color:black;
}

.manifesto_intro {
padding-top: 260px;
padding-left: 200px;
position: absolute;
float: left;
font-family:'Athiti';
line-height: 55px;
color:black;
font-size: 120px;
text-transform: uppercase;
line-height: 130px;
width: 80%;
}

.manifesto_conclusion {
padding-top: 120px;
padding-left: 200px;
position: absolute;
max-width: 70%;
float: left;
font-family:'Athiti';
line-height: 55px;
color:black;
font-size: 120px;
text-transform: uppercase;
line-height: 130px;
width: 80%;
}

.manifesto {
padding-top: 200px;
padding-left: 400px;
padding-right: 20px;
position: absolute;
width: 700px;
float: left;
font-family:'Athiti';
font-size: 140px;
line-height: 135px;
}


li {
  list-style-type: none;
  margin: 20em 0;
}


.marquee {
 height: 50px;	
 overflow: hidden;
}

.marquee p {
 position: absolute;
 font-size: 30px;
}


/*example media query */

@media screen and (max-width: 700px){
	body {
		background:;
	}
	div {
		color:#ffccff;
	}
}

/*printing settings*/

@media print {
  * {
  margin-top: 7cm;
  margin-bottom: 7cm;
  margin-left: 7cm;
  margin-right: 7cm;  
  font-size: 100%;
  background: transparent;
	}

.manifesto {
font-size: 50px;
text-transform: uppercase;
line-height: 50px;
color: black;
	}
.thesis1 {
padding-top: 13400px;
padding-left: 400px;
padding-right: 20px;
position: absolute;
width: 500px;
color:white;
}
.thesis2{
padding-left: 400px;
padding-right: 20px;
position: absolute;
width: 500px;
color:black;
}
.thesis3 {
padding-top:17300px;
padding-left: 400px;
padding-right: 20px;
position: absolute;
width: 500px;
color:white;
}

.thesis4 {
padding-top:10%;
}
#human {
width: 500px;
position: center;
float: left;
padding-bottom: 5%;
}

p {
color: black;
width: 500px;
max-width: 70%;
float: left;
}

.manifesto_conclusion {
   position:absolute;
   width:300px;
   height:300px;
   z-index:15;
   top:50%;
   left:50%;
   margin:-150px 0 0 -150px;

	}

.manifesto_intro {
   padding-top:250px;
   position:absolute;
   width:300px;
   height:300px;
   z-index:15;
   top:50%;
   left:50%;
   margin:-150px 0 0 -150px;

	}


.thesis5 {
padding-top:100px;
padding-left: 400px;
padding-right: 20px;
float: left;
width: 50%;
}

}




/* @end */